/* testimonialos ----------------------------------------------------*/

.carousel {
  width: none;
  margin: 5rem auto auto auto;
  padding-bottom: 50px;
}

.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}

.carousel .carousel-item a {
  color: #eb7245;
}

.carousel .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.testimonial{
  
    text-align: center;

}

.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
  margin: 1px 1px;
}

.carousel .overview b {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}

.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12;
}

.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #33d6e5;
  text-shadow: none;
  top: 4px;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 20px;
  margin-right: 2px;
}

.carousel-control-prev {
  left: auto;
  right: 40px;
}

.carousel-control-next i {
  margin-right: -2px;
}

.carousel .carousel-indicators {
  bottom: 15px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
}

.carousel-indicators li {
  background: #e2e2e2;
  border: none;
}

.carousel-indicators li.active {
  background: #33d6e5;
}

.carousel-inne {
  margin-top: 10rem;

}

.Testimonial-title {

  font-family: cursive;
  font-size: 3rem;
  font-weight: 500;
  /* padding-bottom: 1rem; */

}

.under-line {
  width: 200px;
  height: 5px;
  background-color: #33d6e5;
  border-radius: 5px;
}

.arrowline {
  display: flex;
  align-items: center;

}


@media (min-width:991px) {

  .carousel {
    width: 750px;
  }

}

@media (max-width:991px) {

  .Testimonial-title {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 2rem;
  }

}